In [2]:
import pandas as pd

df = pd.read_csv('salaries_by_college_major.csv')

In [3]:
clean_df = df.dropna()

In [4]:
high_potential_df = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)

In [5]:
"""
Using the .sort_values() method, can you find the degrees with the highest potential? 
Find the top 5 degrees with the highest values in the 90th percentile. 
"""

high_potential_df[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [ ]:
"""
Also, find the degrees with the greatest spread in salaries.
Which majors have the largest difference between high and low earners after graduation.
"""

In [6]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [8]:
swingy_df = clean_df.sort_values('Spread', ascending=False)
swingy_df[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0